    <header class="center-inline">
        <h1>Your Representatives</h1>
        <div>Your zipcode: Location</div>
    </header>
    <main class="">
        <section>
            <div class="center-inline">
                <h3 class="">House</h3>
            </div>
            {{#each house as |rep|}}
            <article class="flex justify-center">
                <div class="soft-borders-5px width-10 max-width-500">
                    <a href="/rep/?bioguide_id={{rep.bioguideId}}">
                        <article class="flex align-center justify-center">
                            <div class="rep-pic margin-right-20">
                                <img class="soft-borders-5px" src="https://theunitedstates.io/images/congress/225x275/{{rep.bioguideId}}.jpg">
                            </div>
                            <div class="rep-info width-40">
                                <div class="rep-name">
                                    {{rep.fullName}}
                                </div>
                                <div class="rep-party">
                                    {{rep.party}}
                                </div>
                            </div>
                        </article>
                    </a>
                </div>
            </article>
            {{/each}}
            </div>
        </section>
        <section>
            <div class="center-inline">
                <h3>Senate</h3>
            </div>
            {{#each senate as |rep|}}
            <article class="flex justify-center">
                <div class="soft-borders-5px width-10 max-width-500">
                    <a href="/rep/?bioguide_id={{rep.bioguideId}}">
                        <article class="flex align-center justify-center">
                            <div class="rep-pic margin-right-20">
                                <img class="soft-borders-5px" src="https://theunitedstates.io/images/congress/225x275/{{rep.bioguideId}}.jpg">
                            </div>
                            <div class="rep-info width-40">
                                <div class="rep-name">
                                    {{rep.fullName}}
                                </div>
                                <div class="rep-party">
                                    {{rep.party}}
                                </div>
                            </div>
                        </article>
                    </a>
                </div>
            </article>
            {{/each}}
        </section>
    </main>
    <footer>
    </footer>
